@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&family=Nunito&family=Patrick+Hand&family=Patrick+Hand+SC&family=Roboto&family=Shadows+Into+Light&display=swap" rel="stylesheet"');

/* #content {
    max-width: 1600px;
    margin: 0 auto;
    background-color: rgb(202, 202, 202);
} */
.header_img {
    background-image: url(personal_website/imgs/strat_closeup_header.jpg);
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-left: -10px;
    margin-top: -10px;
    margin-right: -8px;
  }
.header_nav {
    z-index: 5;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgba(30, 30, 30, 0.5);
    padding: 20px;
    margin-bottom: 50px;
    /* margin-left: -10px; */
    /* margin-right: -10px; */
    transform: translate(0px, 358px);
}
#millsbros_title {
    text-decoration: none;
    grid-column: 1/2;
    display: flex;
    align-items: flex-end;
    margin-left: 25px;
    font-size: 4em;
    color: whitesmoke;
    text-shadow: -2px -2px 0 #000000;
    -webkit-text-stroke: 1px #000000;
    font-family: 'Kalam', 'Nunito', 'Roboto', 'Times New Roman';
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav a {
    grid-column: 2/3;
    text-decoration: none;
    font-size: 2.75em;
    color: whitesmoke;
    text-shadow: -1px -1px 0 #000000;
    font-family: 'Patrick Hand', 'Roboto', 'Times New Roman';
}