@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&family=Nunito&family=Patrick+Hand&family=Patrick+Hand+SC&family=Roboto&family=Shadows+Into+Light&display=swap" rel="stylesheet"');

#content {
    max-width: 1600px;
    margin: 0 auto;
}

/* Header Grid */
.header_img {
    background-image: url(strat_closeup_header.jpg);
    background-color: #cccccc;
    height: 500px;
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: 100% 500px;
    position: relative;
    background-attachment: fixed;
}
.header_nav {
    z-index: 5;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgba(30, 30, 30, 0.5);
    margin-bottom: 50px;
    transform: translate(0px, 393px);
    border-bottom: 2px solid #7B4D21;
}
#millsbros_title {
    text-decoration: none;
    grid-column: 1/2;
    display: flex;
    align-items: center;
    margin-left: 25px;
    font-size: 3em;
    color: whitesmoke;
    text-shadow: -2px -2px 0 #000000;
    /* -webkit-text-stroke: 1px #000000; */
    font-family: 'Kalam', 'Nunito', 'Roboto', 'Times New Roman';
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav a {
    grid-column: 2/3;
    text-decoration: none;
    font-size: 2em;
    color: whitesmoke;
    text-shadow: -1px -1px 0 #000000;
    font-family: 'Patrick Hand', 'Roboto', 'Times New Roman';
}
nav a:hover {
    color: #5BD866;
}

body {
    color: whitesmoke;
    background-color: rgb(202, 202, 202);
    font-family: 'Nunito', 'Lato', Arial;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
/* End Header */

.home-title {
    color: #2A4D14;
    font-family: "IM Fell French Canon SC", "Patrick Hand", "Arial Black", sans-serif;
    font-size: 3em;
    text-shadow: -1px 0px 0 #000;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

/* Home Grid & Children */
.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 160px);
    grid-template-rows: repeat(22, 75px);
    justify-content: center;
}
.fender_gear, .gypsy {
    width: 100%;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #000;
}
.electric_guitars, .gypsy_para {
    background-color: rgb(49, 123, 34, 90%);
    line-height: 1.5em;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px #2A4D14;
}
.fender_gear {
    grid-column: 2/6;
    grid-row: 1/11;
}
.electric_guitars {
    grid-column: 6/10;
    grid-row: 2/10;
    margin-left: 25px;
}
.gypsy_para {
    grid-column: 2/5;
    grid-row: 14/21;
    z-index: 1;
    margin-right: -50px;
}
.gypsy {
    height: 675px;
    grid-column: 5/10;
    grid-row: 13/22;
}
h2 {
    margin: 0px;
    margin-top: 25px;
    padding: 0;
    font-size: 2em;
    font-family: 'Kalam', 'Roboto';
}
.learn_more, .meet {
    background-color: #7B4D21;
    color: whitesmoke;
    text-decoration: none;
    padding: 15px 25px;
    margin-top: 50px;
    border-radius: 5px;
}
.learn_more:hover, .meet:hover {
    background-color: #6e451e;
    color: #5BD866;
    /* opacity: .9; */
}


/* Footer */
footer {
    background-color: #2A4D14;
    color: whitesmoke;
    padding: 0px 5px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 2px solid #7B4D21;
}
footer a {
    color: #ADEBFF;
    text-decoration: none;
}
footer a:hover {
    color: #5BD866;
}
footer p {
    font-size: 1.25em;
    font-family: 'Nunito', 'IM Fell French Canon SC', Arial;
}
footer .social img {
    padding-top: 10px;
    width: 55px;
    margin: 5px;
}
.logo {
    width: 125px;
}
#logo_link {
    padding-top: 25px;
    justify-self: center;
    align-self: center;
}



/* Media Query - Mobile Screens */
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}