body {
    background-color: gray;
}
#banner {
    width: 100%;
    padding: 0px 0px 20px 0px;
}
.trio {
    display: inline;
    width: 20%;
    margin: 0 5% auto;
    border-radius: 50%;
    border: 10px solid rgb(75, 75, 75);
}